<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
    <section>
        <h3>Producto: <span id="product-description">Harry Potter y la prieda filosofal</span></h3>
        <h3>Precio: <span id="unit-price">10000</span></h3>
        <h3>Stock: <span id="quantity">10</span></h3>
        <button id="checkout-btn">Comprar</button>
    </section>

<div id="button-checkout"></div>

<script src="/js/product.js"></script>
</body>
</html>