
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
  <title>Registration</title>
</head>
<body class="formPages">
  <div class="formPages_wrp">
      <form action="/register" method="post">
    <h1>Registrarse</h1>
    <div class="formPages_input">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="formPages_input">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="formPages_input">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <button class="submit" type="submit">Registrarse</button>
    <div class="formPages_links">
      <a class="formPages_links_link" href="/">Iniciar Sesion</a>
    </div>
  </form>
  </div>
</body>
</html>
